@inject SignInManager<User> UserManager
@{
    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
                ViewContext.RouteData.Values["controller"]!.ToString() ?? "";

    string Active(string value)
    {
        string id = Context.Request.Path.ToString();
        return id.Contains(value) ? "active" : "";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Five Star Sports Cards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/jumbotron.css" />
    <link rel="stylesheet" href="~/css/productCard.css" />
    <link rel="stylesheet" href="~/css/shoppingBag.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CardShop.styles.css" asp-append-version="true" />
    <script async src="https://kit.fontawesome.com/58b7281dd9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom flex-column pb-0" id="navbar">
            <div class="container-fluid border-bottom bg-light" id="upper-nav">
                <div class="container py-3 d-flex justify-content-between">
                    <a class="navbar-brand lobster-regular" asp-area="" asp-controller="Home" asp-action="Index">Five Star Sports Cards</a>
                    <partial name="_LoginPartial" />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="container-fluid border-bottom bg-light" id="middle-nav">
                <div class="container">
                    <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 py-1 justify-content-around align-items-center" id="links">
                            <li class="nav-item" id="home-link">
                                <a class="nav-link text-dark @Nav.Active("Home", current)" asp-controller="Home" 
                                asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Baseball")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Baseball">Baseball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Basketball")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Basketball">Basketball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Football")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Football">Football Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Autographed")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Autographed">Autographed Cards</a>
                            </li>
                            @if (UserManager.IsSignedIn(User))
                            {
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Bag"
                                       asp-action="Index">Your Bag</a>
                                </li>
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Manager">Your account</a>
                                </li>
                                <li class="nav-item me-0 mobile-nav-link">
                                    <form class="form-inline" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="nav-link btn btn-link text-dark pe-0">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Register">Register</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="bottom-nav">
                <div class="container py-1">
                    <div class="row justify-content-between">
                        <div class="col-md-4">
                            <div class="dropdown w-100">
                                <button id="categories" class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                                    <i class="fa-solid fa-layer-group me-2"></i>
                                    Categories
                                </button>
                                <ul class="dropdown-menu w-50" id="nav-dropdown">
                                    <li><a asp-controller="Card" asp-route-id="Baseball" asp-action="Index" class="dropdown-item">Baseball</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Basketball" asp-action="Index" class="dropdown-item">Basketball</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Football" asp-action="Index" class="dropdown-item">Football</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Hockey" asp-action="Index" class="dropdown-item">Hockey</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Golf" asp-action="Index" class="dropdown-item">Golf</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Wrestling" asp-action="Index" class="dropdown-item">Wrestling</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Racing" asp-action="Index" class="dropdown-item">Racing</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Boxing" asp-action="Index" class="dropdown-item">Boxing</a></li>
                                    <li><a asp-controller="Card" asp-route-id="Autographed" asp-action="Index" class="dropdown-item">Autographed</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form asp-action="Search" asp-controller="Card" method="post" class="w-100">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="search" placeholder="Search Products...">
                                    <button class="btn btn-dark" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/navbarTransition.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
