@inject SignInManager<User> UserManager
@{
    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
                ViewContext.RouteData.Values["id"]?.ToString() ??
                ViewContext.RouteData.Values["controller"]!.ToString() ?? "";

    string Active(string value)
    {
        return current.ContainsNoCase(value) ? "active" : "";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Five Star Sports Cards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/jumbotron.css" />
    <link rel="stylesheet" href="~/css/productCard.css" />
    <link rel="stylesheet" href="~/css/shoppingBag.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CardShop.styles.css" asp-append-version="true" />
    <script async src="https://kit.fontawesome.com/58b7281dd9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom flex-column pb-0" id="navbar">
            <div class="container-fluid border-bottom bg-light" id="upper-nav">
                <div class="container py-3 d-flex justify-content-between">
                    <a class="navbar-brand lobster-regular" asp-area="" asp-controller="Home" asp-action="Index">Five Star Sports Cards</a>
                    <partial name="_LoginPartial" />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="container-fluid border-bottom bg-light" id="middle-nav">
                <div class="container">
                    <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 py-1 justify-content-around align-items-center" id="links">
                            <li class="nav-item" id="home-link">
                                <a class="nav-link text-dark @Nav.Active("Home", current)" asp-controller="Home" 
                                asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Baseball")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Baseball">Baseball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Basketball")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Basketball">Basketball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Football")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Football">Football Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Autographed")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="autographed">Autographed Cards</a>
                            </li>
                            @if (UserManager.IsSignedIn(User))
                            {
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Bag"
                                       asp-action="Index">Your Bag</a>
                                </li>
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Manager">Your account</a>
                                </li>
                                <li class="nav-item me-0 mobile-nav-link">
                                    <form class="form-inline" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="nav-link btn btn-link text-dark pe-0">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Register">Register</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid border-bottom bg-light fixed-top invisible" id="fixed-middle-nav">
                <div class="container">
                    <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 py-1 justify-content-around align-items-center" id="links">
                            <li class="nav-item" id="home-link">
                                <a class="nav-link text-dark @Nav.Active("Home", current)" asp-controller="Home"
                                   asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Baseball")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Baseball">Baseball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Basketball")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Basketball">Basketball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Football")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Football">Football Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @Active("Autographed")" asp-controller="Card"
                                   asp-action="Index" asp-route-id="Autographed">Autographed Cards</a>
                            </li>
                            @if (UserManager.IsSignedIn(User))
                            {
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Bag"
                                       asp-action="Index">Your Bag</a>
                                </li>
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Manager">Your account</a>
                                </li>
                                <li class="nav-item me-0 mobile-nav-link">
                                    <form class="form-inline" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="nav-link btn btn-link text-dark pe-0">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item mobile-nav-link">
                                    <a class="nav-link text-dark" asp-controller="Account"
                                       asp-action="Register">Register</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="bottom-nav">
                <div class="container py-1">
                    <div class="row justify-content-between">
                        <div class="col-md-4">
                            <div class="dropdown w-100">
                                <button id="categories" class="btn btn-dark dropdown-toggle w-100 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown">
                                    <svg class="w-6 h-6 text-gray-800 me-2 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6Zm4.996 2a1 1 0 0 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 8a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4.004 3a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 11a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4.004 3a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 14a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Z" clip-rule="evenodd" />
                                    </svg>
                                    Categories
                                </button>
                                <ul class="dropdown-menu w-50" id="nav-dropdown">
                                    <!-- SPORTS FROM DATABASE -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form asp-action="Search" asp-controller="Card" method="get" class="w-100">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="searchString" placeholder="Search Products...">
                                    <button class="btn btn-dark d-flex" type="submit">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/navbarTransition.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(function () {
            $.ajax({
                type: "Get",
                url: "/Home/GetSports",
                success: function (data) {
                    $('#returndata').html(""); //clear the content
                    $('#returndata').html(data); //add the latest data.
                    // Parse the JSON data and store it in an array
                    var sports = JSON.parse(data);

                    // Get the ul element
                    var ulElement = document.getElementById("nav-dropdown");

                    // Loop through the sports array and create li elements
                    for (var i = 0; i < sports.length; i++) {
                        var sport = sports[i];
                        var liElement = document.createElement("li");
                        var aElement = document.createElement("a");
                        aElement.setAttribute("href", "/cards/" + sport.Name.toLowerCase());
                        aElement.setAttribute("class", "dropdown-item");
                        aElement.textContent = sport.Name;
                        liElement.appendChild(aElement);
                        ulElement.appendChild(liElement);
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
