@model CardCategoryVM
@{
    ViewBag.Title = $"{Model.Category} Cards";
}

<div class="container">
    <div class=" @(Model.IsSearching ? "" : "text-center")">
        @if (Model.IsSearching)
        {
            <h2 class="mt-3">
                @Model.Cards.Count() result@(Model.Cards.Count() == 1 ? "" : "s") for @Model.Category
            </h2>
        }
        else
        {
            <h2 class="display-3">@Model.Category</h2>
        }

    </div>

    <div class="row">
        @foreach(TradingCard card in Model.Cards)
        {
            <div class="col-md-4 col-sm-6">
                <div class="product-card mt-3">
                    <a class="card-img" asp-action="Details" asp-route-slug="@card.Slug" asp-route-id="@card.Id">
                        <img src="~/images/@card.ImageName" />
                    </a>
                    <div class="product-card-bottom d-flex flex-column">
                        <p class="mb-0">@card.Player</p>
                        <p class="mb-1">@card.Price.Value.ToString("C")</p>
                    </div>
                    <form asp-controller="Bag" asp-action="AddToBag" class="align-content-end">
                        <input hidden name="id" value="@card.Id" />
                        <button class="btn btn-dark" type="submit">
                            Add to Bag <i class="fa-solid fa-bag-shopping ms-2"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
        
    </div>
</div>
