@model SearchVM<TradingCard>
@{
    ViewBag.Title = "Manage Cards";
}

<div class="mt-3">
    <form method="post" asp-route-search="@Model.Search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Products..." asp-for="Search">
            <button class="btn btn-dark" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>


@if (Model.Search != String.Empty)
{
    <div>
        <p>@Model.Items.Count() results for @Model.Search</p>
    </div>
}
@if(Model.Items.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Player</th>
                <th scope="col">Type</th>
                <th scope="col">Sport</th>
                <th scope="col">Price</th>
                <th scope="col">Is Listed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TradingCard card in Model.Items)
            {
                <tr>
                    <td class="">@card.Player</td>
                    <td>@card.Sport.Name</td>
                    <td>@card.Price.Value.ToString("C")</td>
                    <td>@(card.IsForSale ? "For Sale" : "Not for Sale")</td>
                    <td>
                        <a asp-action="Manage" asp-route-id="@card.Id" class="btn btn-primary">Manage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
