@model SearchVM<TradingCard>
@{
    ViewBag.Title = "Manage Cards";
}

<div class="mt-3">
    <form method="get" asp-action="Index" asp-controller="Product">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Products..." name="searchString" asp-for="Search">
            <button class="btn btn-dark" type="submit">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                </svg>
            </button>
        </div>
    </form>
</div>


@if (Model.Search != String.Empty)
{
    <div>
        <p>@Model.Items.Count() results for @Model.Search</p>
    </div>
}
@if(Model.Items.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Player</th>
                <th scope="col">Sport</th>
                <th scope="col">Price</th>
                <th scope="col">Is Listed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TradingCard card in Model.Items)
            {
                <tr>
                    <td class="">@card.Player</td>
                    <td>@card.Sport.Name</td>
                    <td>@card.Price.Value.ToString("C")</td>
                    <td>@(card.IsForSale ? "For Sale" : "Not for Sale")</td>
                    <td>
                        <a asp-action="Manage" asp-route-id="@card.Id" class="btn btn-primary">Manage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
