@model ShoppingCartVM
@{
    ViewBag.Title = "Your Bag";
}

<h3 class="text-center display-3">Your Bag</h3>
@if(Model.CartItems.Count > 0)
{
    <div class="container shopping-bag">
        @foreach (var item in Model.CartItems)
        {
            <div class="bag-item">
                <img src="~/images/@item.TradingCard.ImageName" width="100px" />
                <div class="w-50">
                    <div>
                        <p class="item-name">@item.TradingCard.Player - @item.TradingCard.Price.Value.ToString("C") / ea</p>
                        <p class="item-description">@item.TradingCard.Description</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end w-100">
                    <div class="mt-auto me-5">
                        <div class="item-amt mb-3">
                            <form asp-action="ChangeQuantity" method="post">
                                <input hidden name="amount" value="-1" />
                                <input hidden name="id" value="@item.TradingCard.Id" />
                                <button type="submit" class="quantity-button">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14" />
                                    </svg>
                                </button>
                            </form>
                            <p class="m-0">@item.Amount</p>
                            <form asp-action="ChangeQuantity" method="post">
                                <input hidden name="amount" value="1" />
                                <input hidden name="id" value="@item.TradingCard.Id" />
                                <button type="submit" class="quantity-button">
                                    <svg class="text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                    <form class="d-flex align-items-center" asp-action="RemoveFromCart" method="post">
                        <input hidden value="@item.TradingCard.Id" name="id" />
                        <button class="item-trash-button">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        }
        <div class="border-top mt-4">
            <div class="d-flex justify-content-end">
                <p class="fs-4">@Model.TotalPrice.ToString("C2")</p>
            </div>
            <div class="d-flex justify-content-end">
                <form action="Checkout">
                    <button class="btn btn-stripe"><p class="p-0 m-0">
                        Checkout with</p> <i class="fa-brands fa-stripe"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <p class="text-center fs-4">No items in bag</p>
    </div>
}
