@model ShoppingCartVM
@{
    ViewBag.Title = "Your Bag";
}

<h3 class="text-center display-3">Your Bag</h3>
@if(Model.CartItems.Count > 0)
{
    <div class="container shopping-bag">
        @foreach (var item in Model.CartItems)
        {
            <div class="bag-item">
                <img src="~/images/@item.TradingCard.ImageName" width="100px" />
                <div class="w-50">
                    <div>
                        <p class="item-name">@item.TradingCard.Player - @item.TradingCard.Price.Value.ToString("C") / ea</p>
                        <p class="item-description">@item.TradingCard.Description</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end w-100">
                    <div class="mt-auto me-5">
                        <div class="item-amt mb-3">
                            <form asp-action="ChangeQuantity" method="post">
                                <input hidden name="amount" value="-1" />
                                <input hidden name="id" value="@item.TradingCard.Id" />
                                <button type="submit" class="quantity-button">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </form>
                            <p class="m-0">@item.Amount</p>
                            <form asp-action="ChangeQuantity" method="post">
                                <input hidden name="amount" value="1" />
                                <input hidden name="id" value="@item.TradingCard.Id" />
                                <button type="submit" class="quantity-button">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                    <form class="d-flex align-items-center" asp-action="RemoveFromCart" method="post">
                        <input hidden value="@item.TradingCard.Id" name="id" />
                        <button class="item-trash-button">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
        <div class="border-top mt-4">
            <div class="d-flex justify-content-end">
                <p class="fs-4">@Model.TotalPrice.ToString("C2")</p>
            </div>
            <div class="d-flex justify-content-end">
                <form action="Checkout">
                    <button class="btn btn-stripe"><p class="p-0 m-0">
                        Checkout with</p> <i class="fa-brands fa-stripe"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <p class="text-center fs-4">No items in bag</p>
    </div>
}
